{% extends "layout.html" %}

{% block pagetitle %}


  <section class="page-title page-title-layout15 text-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <nav>
            <ol class="breadcrumb justify-content-center mb-0">
                {% for item in breadcrumb %}
                <li class="breadcrumb-item"><a href="{{ item.1 }}">{{ item.0 }}</a></li>
                {% endfor %}
              <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            </ol>
          </nav>
        </div><!-- /.col-xl-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.page-title -->
{% endblock %}

{% block content %}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div id="custom-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header">
      <strong class="me-auto">Uyarı</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Yorum yapabilmek için önce giriş yapmalısınız!
    </div>
  </div>
</div>

<section class="blog blog-single pt-0 pb-80">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="post-item mb-0">
                  <div class="post__img">
                      <img src="{{ blog_post.cover_image.url }}" alt="{{ blog_post.title }}">
                  </div><!-- /.post-img -->
                  <div class="post__meta d-flex align-items-center mb-20">
                      <span class="post__meta-date">{{ blog_post.created_at|date:"d M Y" }}</span>
                      <div class="post__meta-cat">
                          <a href="#">{{ blog_post.category.name }}</a>
                      </div><!-- /.blog-meta-cat -->
                      <span class="post__meta-author"><span class="color-secondary">Yazar:</span>
                          <a href="#">{{ blog_post.author.username }}</a>
                      </span>
                  </div><!-- /.blog-meta -->
                  <h1 class="post__title mb-30">
                      {{ blog_post.title }}
                  </h1>
                  <div class="post__desc">
                      {{ blog_post.content|safe }}
                  </div><!-- /.blog-desc -->
              </div><!-- /.post-item -->
              <div class="bordered-box mb-40">
                  <div class="row row-no-gutter">
                      <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
                          <div class="blog-tags d-flex flex-wrap">
                              <strong class="mr-20 color-heading">Etiketler</strong>
                              <ul class="list-unstyled d-flex flex-wrap mb-0">
                                  {% for tag in blog_post.tags.all %}
                                  <li><a href="#">{{ tag.name }}</a></li>
                                  {% endfor %}
                              </ul>
                          </div><!-- /.blog-tags -->
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                          <div class="blog-share d-flex flex-wrap justify-content-end">
                              <strong class="mr-20 color-heading">Paylaş</strong>
                              <ul class="list-unstyled social-icons social-icons-primary d-flex mb-0">
                                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fab fa-google"></i></a></li>
                              </ul>
                          </div><!-- /.blog-share -->
                      </div>
                  </div>
              </div>
              <!-- Widget Navigation -->
              <div class="widget-nav d-flex justify-content-between mb-40">
                  <!-- Önceki Gönderi -->
                  {% if previous_post %}
                  <a href="{% url 'blog-detail' pk=previous_post.id %}" class="widget-nav__prev d-flex flex-wrap">
                      <div class="widget-nav__img">
                          <div class="widget-nav__overlay"></div>
                          <img src="{{ previous_post.cover_image.url }}" alt="blog thumb">
                      </div>
                      <div class="widget-nav__content">
                          <span>Önceki Gönderi</span>
                          <h5 class="widget-nav__ttile mb-0">{{ previous_post.title }}</h5>
                      </div>
                  </a><!-- /.widget-prev -->
                  {% else %}
                  <div class="widget-nav__prev d-flex flex-wrap">
                      <div class="widget-nav__img">
                          <div class="widget-nav__overlay"></div>
                          <img src="#" alt="blog thumb">
                      </div>
                      <div class="widget-nav__content">
                          <span>Önceki Gönderi</span>
                          <h5 class="widget-nav__ttile mb-0">Önceki Gönderi Yok</h5>
                      </div>
                  </div><!-- /.widget-prev -->
                  {% endif %}

                  <!-- Sonraki Gönderi -->
                  {% if next_post %}
                  <a href="{% url 'blog-detail' pk=next_post.id %}" class="widget-nav__next d-flex flex-wrap">
                      <div class="widget-nav__img">
                          <div class="widget-nav__overlay"></div>
                          <img src="{{ next_post.cover_image.url }}" alt="blog thumb">
                      </div>
                      <div class="widget-nav__content">
                          <span>Sonraki Gönderi</span>
                          <h5 class="widget-nav__ttile mb-0">{{ next_post.title }}</h5>
                      </div>
                  </a><!-- /.widget-next -->
                  {% else %}
                  <div class="widget-nav__next d-flex flex-wrap">
                      <div class="widget-nav__img">
                          <div class="widget-nav__overlay"></div>
                          <img src="#" alt="blog thumb">
                      </div>
                      <div class="widget-nav__content">
                          <span>Sonraki Gönderi</span>
                          <h5 class="widget-nav__ttile mb-0">Sonraki Gönderi Yok</h5>
                      </div>
                  </div><!-- /.widget-next -->
                  {% endif %}
              </div><!-- /.widget-nav -->

              <!-- Blog Yazarı -->
              <div class="blog-author d-flex flex-wrap mb-70">
                  <div class="blog-author__avatar">
                      {% comment %} <img src="assets/images/blog/author/1.jpg" alt="avatar"> {% endcomment %}
                  </div><!-- /.author-avatar -->
                  <div class="blog-author__content">
                      <h6 class="blog-author__name">{{ blog_post.author.username }}</h6>
                      <!-- Aşağıdakileri gerçek yazar bilgisiyle değiştirmelisiniz -->
                      {% comment %} <p class="blog-author__bio">Yazar Hakkında Metin</p> {% endcomment %}
                      <ul class="social-icons list-unstyled mb-0">
                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-vimeo-v"></i></a> </li>
                          <li><a href="#"><i class="fab fa-linkedin"></i></a> </li>
                      </ul>
                  </div><!-- /.author-content -->
              </div><!-- /.blog-author -->

              <!-- Blog Yorumları -->
              <div class="blog-comments mb-70">
                  <h5 class="blog-widget__title">{{ blog_post.comments.count }} yorum</h5>
                  <ul class="comments-list list-unstyled">
                      {% for comment in blog_post.comments.all %}
                      <li class="comment__item">
                          <div class="comment__avatar">
                              <!-- Aşağıdakileri gerçek yorumcu avatarı ile değiştirmelisiniz -->
                              {% comment %} <img src="assets/images/blog/author/2.jpg" alt="avatar"> {% endcomment %}
                          </div>
                          <div class="comment__content">
                              <h5 class="comment__author">{{ comment.author.username }}</h5>
                              <span class="comment__date">{{ comment.created_at|date:"d M Y - H:i" }}</span>
                              <p class="comment__desc">{{ comment.content }}</p>
                         
                          </div>
                      </li><!-- /.comment -->
                      {% endfor %}
                  </ul><!-- /.comments-list -->
              </div><!-- /.blog-comments -->

              <!-- Blog Yorum Formu -->
              <div class="blog-widget blog-comments-form mb-30">
                  <h5 class="blog-widget__title">Yorum Yap</h5>
                  <form method="post" action="{% url 'comment-create' pk=blog_post.pk %}">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-12">
                              <div class="form-group">
                                  <textarea name="content" class="form-control" placeholder="Yorum"></textarea>
                              </div><!-- /.form-group -->
                          </div><!-- /.col-lg-12 -->
                          <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap align-items-center">
                              <button type="submit" class="btn btn__primary btn__icon justify-content-between btn__xl">
                                  <span>Yorumu Gönder</span><i class="icon-arrow-right"></i>
                              </button>
                          </div><!-- /.col-lg-12 -->
                      </div><!-- /.row -->
                  </form>
              </div><!-- /.blog-comments-form -->
          </div><!-- /.col-lg-8 -->
          <div class="col-sm-12 col-md-12 col-lg-4">
              <aside class="sidebar"> 
                  <div class="widget widget-posts">
                      <h5 class="widget__title">Son Gönderiler</h5>
                      <div class="widget__content">
                          {% for post in recent_posts %}
                          <!-- post item -->
                          <div class="widget-post-item d-flex align-items-center">
                              <div class="widget-post__img">
                                  <a href="#"><img src="{{ post.cover_image.url }}" alt="thumb"></a>
                              </div><!-- /.widget-post-img -->
                              <div class="widget-post__content">
                                  <span class="widget-post__date">{{ post.created_at|date:"d M Y" }}</span>
                                  <h4 class="widget-post__title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                              </div><!-- /.widget-post-content -->
                          </div><!-- /.widget-post-item -->
                          {% endfor %}
                      </div><!-- /.widget-content -->
                  </div><!-- /.widget-posts -->
                  
                  <div class="widget widget-categories">
                      <h5 class="widget__title">Kategoriler</h5>
                      <div class="widget-content">
                          <ul class="list-unstyled mb-0">
                              {% for category in categories %}
                              <li><a href="#"><span>{{ category.name }}</span><span class="cat-count">{{ category.post_count }}</span></a></li>
                              {% endfor %}
                          </ul>
                      </div><!-- /.widget-content -->
                  </div><!-- /.widget-categories -->
                  

                  <div class="widget widget-tags">
                      <h5 class="widget__title">Etiketler</h5>
                      <div class="widget-content">
                          <ul class="list-unstyled mb-0">
                              {% for tag in blog_post.tags.all %}
                              <li><a href="#">{{ tag.name }}</a></li>
                              {% endfor %}
                          </ul>
                      </div><!-- /.widget-content -->
                  </div><!-- /.widget-tags -->
              </aside><!-- /.sidebar -->
          </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.blog Single -->

{% endblock content %}
