   <!-- ========================
        Footer
      ========================== -->
      <footer class="footer bg-secondary">
        <div class="container">
          <div class="footer-top pt-50 pb-30">
            <div class="row">
              <div class="col-sm-4 col-md-2 col-lg-4">
                <img src="assets/images/logo/logo-light-small.png" alt="logo" class="mb-30">
              </div><!-- /.col-lg-2 -->
              <div class="col-sm-8 col-md-4 col-lg-3">
                <h6 class="footer-top__title">Sign up for latest IT resources,
                  news and insights from Datasoft!</h6>
              </div><!-- /.col-lg-3 -->
              <div class="col-sm-12 col-md-6 col-lg-5">
                <form class="footer-form d-flex mb-0">
                  <input type="text" class="form-control mr-20" placeholder="Your Email Address">
                  <button type="submit" class="btn btn__primary btn__primary-style2">
                    <span>Subscribe</span>
                    <i class="icon-arrow-right"></i>
                  </button>
                </form>
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div><!-- /.footer-top -->
          <div class="footer-primary">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-3 footer-widget footer-widget-about">
                <div class="footer-widget__content">
                  <div class="contact-info">
                    <h6 class="footer-widget__title">Quick Contact</h6>
                    <ul class="contact-list list-unstyled">
                      <li class="color-gray">If you have any questions or need help, feel free to contact with our team.
                      </li>
                      <li class="mt-20 mb-20">
                        <a href="tel:01061245741" class="phone-number">
                          <i class="icon-phone"></i> <span>01061245741</span>
                        </a>
                      </li>
                      <li class="color-body">2307 Beverley Rd Brooklyn, New York 11226 United States.</li>
                    </ul>
                  </div><!-- /.contact-info -->
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div><!-- /.footer-widget__content -->
              </div><!-- /.col-xl-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1 footer-widget footer-widget-nav">
                <h6 class="footer-widget__title">Company</h6>
                <div class="footer-widget__content">
                  <nav>
                    <ul class="list-unstyled">
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="leadership-team.html">Meet Our Team</a></li>
                      <li><a href="blog.html">News & Media</a></li>
                      <li><a href="projects-grid.html">Case Studies</a></li>
                      <li><a href="contacs.html">Contacts</a></li>
                      <li><a href="#">Investors</a></li>
                    </ul>
                  </nav>
                </div><!-- /.footer-widget__content -->
              </div><!-- /.col-lg-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
                <h6 class="footer-widget__title">Solutions</h6>
                <div class="footer-widget__content">
                  <nav>
                    <ul class="list-unstyled">
                      <li><a href="#">IT Management</a></li>
                      <li><a href="#">Cyber Security</a></li>
                      <li><a href="#">Cloud Computing</a></li>
                      <li><a href="#">IT Consulting</a></li>
                      <li><a href="#">Software Dev</a></li>
                      <li><a href="#">IT Support</a></li>
                    </ul>
                  </nav>
                </div><!-- /.footer-widget__content -->
              </div><!-- /.col-lg-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
                <h6 class="footer-widget__title">Resources</h6>
                <div class="footer-widget__content">
                  <nav>
                    <ul class="list-unstyled">
                      <li><a href="pricing.html">Pricing and plans</a></li>
                      <li><a href="#">Terms of Service</a></li>
                      <li><a href="faqs.html">Help & FAQ</a></li>
                      <li><a href="contacs.html">Contact Us</a></li>
                      <li><a href="#">Site map</a></li>
                    </ul>
                  </nav>
                </div><!-- /.footer-widget__content -->
              </div><!-- /.col-lg-2 -->
              <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
                <h6 class="footer-widget__title">Download</h6>
                <div class="footer-widget__content">
                  <a href="#" class="btn btn__white btn__download mb-20">
                    <i class="fab fa-apple"></i>
                    <span>App Store</span>
                  </a>
                  <a href="#" class="btn btn__white btn__download mb-20">
                    <i class="fab fa-google-play"></i>
                    <span>Google Play</span>
                  </a>
                </div><!-- /.footer-widget__content -->
              </div><!-- /.col-lg-2 -->
            </div><!-- /.row -->
          </div><!-- /.footer-primary -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center pb-40">
              <span class="fz-14">&copy; 2020 DataSoft, All Rights Reserved. With Love by</span>
              <a class="fz-14 color-primary" href="http://themeforest.net/user/7oroof">7oroof.com</a>
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </footer><!-- /.Footer -->