   <!-- ========================
        Footer
      ========================== -->
      {% load static %}
      {% now "Y" as current_year %}
      <footer class="footer bg-secondary">
        <div class="container">
            <div class="footer-top pt-50 pb-30">
                <div class="row">
                    <div class="col-sm-4 col-md-2 col-lg-4">
                        <img src="{% static '/images/logo/hako.svg' %}" alt="logo" class="mb-30">
                    </div><!-- /.col-lg-2 -->
                    <div class="col-sm-8 col-md-4 col-lg-3">
                        <h6 class="footer-top__title">En son BT kaynakları, haberleri ve görüşlerinden haberdar olmak için KIRIKsoft'a kaydolun!</h6>
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.footer-top -->
    
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center pb-40">
                  <span class="fz-14">&copy; {{ current_year }} KIRIKsoft, Tüm Hakları Saklıdır.</span>
                   
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer><!-- /.Footer -->